<!-- password_reset_complete.html -->
{% load  static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/reset_password.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <!-- Add any additional CSS or stylesheets -->
</head>

<body>
    <div class="container">
        <img src="{% static 'images/forgetpassword.jpg' %}" alt="1">
        <h1>Password Reset Complete</h1>
        <p>Your password has been successfully reset.</p>
        <!-- You can add additional content or instructions here -->
    </div>
</body>

</html>
