{% extends "basepmo.html" %}
{% load static %}
{% block title %}Project Visibility{% endblock title %}
{% block cssfile %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/requested-projects.css' %}">
{% endblock cssfile %}
{% block body %}

<section>
    <div class="container">
        <div class="heading">Project Visibility</div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Project Title</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>View</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr class="row">
                    <td>{{ project.id }}</td>
                    <td>{{ project.title }}</td>
                    <td>{{ project.get_project_type_display }}</td>
                    <td>{{ project.upload_date|date:"d M Y" }}</td>
                    <td class="view"><a href="{% url 'requestedprojectview' project_id=project.id %}">View</a></td>
                    <td>
                        <div class="action">
                            {% if project.visibility == 0 %}
                            <!-- if Project is hidden, show Unhide button -->
                            <a href="{% url 'projectvisibilityunhide' project.id %}" class="unhide-button">Unhide</a>
                            {% else %}
                            <!-- if Project is visible, show Hide button -->
                            <a href="{% url 'projectvisibilityhide' project.id %}" class="hide-button">Hide</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr class="spacing-row"><td></td></tr>
                {% endfor %}
                                        </tbody>
        </table>
    </div>
</section>

{% endblock body %}