
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Event Form</title>
    <link rel="stylesheet" href="/Problem/static/CSS/problem-view.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
        <img src="/Problem/static/images/user1.png">
        
        <div class="container">
            <p><b>Submitted by:</b> John Doe</p>
            <p><b>Category:</b> Performance Issue</p>
            <p><b>Priority:</b> Medium</p>
            <p><b>Description: </b></p>
            <p>I've been experiencing significant delays when trying to load product pages on the website. It takes much longer than usual for the page to fully load, and sometimes it even times out before anything appears. </p>
        </div>
<button href="/problems-list">OK</button>
    </div>
</body>
</html>

