{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/loginstyling.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form id="form" method="post" >
                {% csrf_token %}
                <label for="chk" aria-hidden="true">Sign up</label>
                <!--  <label for="modeselect">Select your sign up mode:</label> -->
                <!-- Radio buttons for signup mode -->
<a class="continuebtn" href="{% url 'signuppage' %}">Contiue</a>
                <button  type="submit">Continue</button>
            </form>
        </div>

        <div class="login">
            <form method="post" action="{% url 'loginpage' %}" onsubmit="return validateLogin()">
                {% csrf_token %}
                <label for="chk" aria-hidden="true">Login</label>
                <input type="text" placeholder="CNIC" id="cnic" name="cnic">
                <p id="cnicError"></p>
                <input type="password" placeholder="Password" id="password" name="password">
                <p id="passError"></p>

                <div class="login-mode">
                    <label><input class="radio" type="radio" name="role" value="Student" id="student" required> Student</label>
                    <label><input class="radio" type="radio" name="role" value="PMO" id="pmo" required> PMO</label>
                </div>

                <!--<div class="login-mode">
                    <input type="radio" id="student" name="role" value="student" required>
                    <label for="student">Student</label>
                    <input type="radio" id="pmo" name="role" value="pmo" required>
                    <label for="pmo">PMO</label>
                </div>-->





                <button type="submit">Login</button>
                <a class="forget" href="{% url 'password_reset' %}">Forget Your Password?</a>
            </form>
        </div>
    </div>
</body>
<script src="{% static 'JS/loginpage1.js' %}"></script>
</html>