<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/CSS/changepassword3.css">
</head>
<body>
    <div class="container">
        <div class="password-reset">
            <div class="icon-wrapper">
                <img src="/static/images/resetpassword.jpg" alt="Lock Icon"> <!-- Replace with your icon path -->
            </div>
            <p class="instruction">Your new password must be different from the previously used password</p>
            <form action="/homeStudent" method="post">
                <div class="form-group">
                    <input type="password" id="new-password" name="new-password" placeholder="New Password">
                </div>
                <div class="form-group">
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
                </div>
                <p class="eError" id="Error"></p>
                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </div>
    </div>
    <script src="/static/JS/changepassword3.js"></script>
</body>
</html>