{% extends "baseadmin.html" %}
{% load static %}
{% block title %}Reported Problems{% endblock title %}
{% block cssfile%}<link rel="stylesheet" type="text/css" href="/static/CSS/hiddenprojectslist.css"> 
{% endblock cssfile%}
{% block body %}
     <section>
        <div class="container">
            <div class="heading">Hidden Projects</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Uploader</th>
                        <th>Unhide Project</th>
                    </tr>
                </thead>
                <tbody>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                <a href="/adminProjectView">
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="projct1"><div class="name">Project Showcase</div></td>
                        <td>Web Development</td>
                        <td>Eman Shahbaz</td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td> 
                    </tr> 
                </a>
                                       
                   
                </tbody>
            </table>
        </div>
    </section>
    {% endblock body %}