{% extends "basepmo.html" %}
{% load static %}
{% block title %}Projects{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block cssfile%}
<link rel="stylesheet" href="/static/CSS/Projects.css">{% endblock cssfile%}



{% block body %}
<section class="sec-0" style="background-image: url('{% static 'images/header2.jpg' %}'); background-repeat:no-repeat; background-size: cover; background-position: bottom-center;">
    <div class="header">
        <h1 id="title1">Projects</h1>
        <p>Explore events and competitions all around</p>
    </div>
     <!-- Search Bar -->
     <div class="search-bar">
        <input type="text" placeholder="Search in Projects" class="search-input">
        <a href="/projects"><button class="search-btn"><i class="fas fa-search"></i></button></a>
    </div>

</section>
<!--Projects Section-->
<section>
    <div class="sec-1">
        <div class="row">
            <div class="r1">
                <a href="/pmoprojectView">
                    <div class="p1">
                        <div class="image">
                            <img src="/static/images/event2.jpg" alt="5">
                        </div>
                        <h3 class="title">
                            Amazon clone using React
                        </h3>
                        <p class="description">
                            Nowadays the first thing that someone does when they create a new business for
                            trading goods is to convert their commerce to e-commerce. Many businesses even
                            prefer to have e-commerce as their only mode of doing business. The potential of
                            e-commerce is nearly limitless, reason for which we'll be going on a ride to create
                            an e-commerce solution of our own!
                        </p>
                        <h4 class="collaborators">Collaborators</h4>
                        <p class="name">
                            Kiran, Mridula Reddy
                        </p>
                        <h4 class="cgpa">CGPA</h4>
                        <p class="gpa">
                            3.608
                        </p>
                        <h4 class="skills">
                            Skills to be learned
                        </h4>
                        <div class="skill1">React, Stripe, Firebase</div>

                        <div class="footer">
                            <div class="views">Views:
                                <i class="fas fa-eye"></i>
                                2k
                            </div>
                            <div class="ratings"> Ratings:
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star-half-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="r2">
                <a href="/pmoprojectView">
                <div class="p1">
                    <div class="image">
                        <img src="/static/images/event3.jpg" alt="5">
                    </div>
                    <h3 class="title">
                        Amazon clone using React
                    </h3>
                    <p class="description">
                        Nowadays the first thing that someone does when they create a new business for
                        trading goods is to convert their commerce to e-commerce. Many businesses even
                        prefer to have e-commerce as their only mode of doing business. The potential of
                        e-commerce is nearly limitless, reason for which we'll be going on a ride to create
                        an e-commerce solution of our own!
                    </p>
                    <h4 class="collaborators">Collaborators</h4>
                    <p class="name">
                        Kiran, Mridula Reddy
                    </p>
                    <h4 class="cgpa">CGPA</h4>
                    <p class="gpa">
                        3.608
                    </p>
                    <h4 class="skills">
                        Skills to be learned
                    </h4>
                    <div class="skill1">React, Stripe, Firebase</div>
                    <div class="footer">
                        <div class="views">Views:
                            <i class="fas fa-eye"></i>
                            2k
                        </div>
                        <div class="ratings"> Ratings:
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>

</section>
<section>
    <div class="sec-1">
        <div class="row">
            <div class="r1">
                <a href="/pmoprojectView">
                <div class="p1">
                    <div class="image">
                        <img src="/static/images/event3.jpg" alt="5">
                    </div>
                    <h3 class="title">
                        Amazon clone using React
                    </h3>
                    <p class="description">
                        Nowadays the first thing that someone does when they create a new business for
                        trading goods is to convert their commerce to e-commerce. Many businesses even
                        prefer to have e-commerce as their only mode of doing business. The potential of
                        e-commerce is nearly limitless, reason for which we'll be going on a ride to create
                        an e-commerce solution of our own!
                    </p>
                    <h4 class="collaborators">Collaborators</h4>
                    <p class="name">
                        Kiran, Mridula Reddy
                    </p>
                    <h4 class="cgpa">CGPA</h4>
                    <p class="gpa">
                        3.608
                    </p>
                    <h4 class="skills">
                        Skills to be learned
                    </h4>
                    <div class="skill1">React, Stripe, Firebase</div>

                    <div class="footer">
                        <div class="views">Views:
                            <i class="fas fa-eye"></i>
                            2k
                        </div>
                        <div class="ratings"> Ratings:
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="r2">
                <a href="/pmoprojectView">
                <div class="p1">
                    <div class="image">
                        <img src="/static/images/event4.jpg" alt="5">
                    </div>
                    <h3 class="title">
                        Amazon clone using React
                    </h3>
                    <p class="description">
                        Nowadays the first thing that someone does when they create a new business for
                        trading goods is to convert their commerce to e-commerce. Many businesses even
                        prefer to have e-commerce as their only mode of doing business. The potential of
                        e-commerce is nearly limitless, reason for which we'll be going on a ride to create
                        an e-commerce solution of our own!
                    </p>
                    <h4 class="collaborators">Collaborators</h4>
                    <p class="name">
                        Kiran, Mridula Reddy
                    </p>
                    <h4 class="cgpa">CGPA</h4>
                    <p class="gpa">
                        3.608
                    </p>
                    <h4 class="skills">
                        Skills to be learned
                    </h4>
                    <div class="skill1">React, Stripe, Firebase</div>
                    <div class="footer">
                        <div class="views">Views:
                            <i class="fas fa-eye"></i>
                            2k
                        </div>
                        <div class="ratings"> Ratings:
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>

</section>
<section>
    <div class="sec-1">
        <div class="row">
            <div class="r1">
                <a href="/pmoprojectView">
                <div class="p1">
                    <div class="image">
                        <img src="/static/images/event5.jpg" alt="5">
                    </div>
                    <h3 class="title">
                        Amazon clone using React
                    </h3>
                    <p class="description">
                        Nowadays the first thing that someone does when they create a new business for
                        trading goods is to convert their commerce to e-commerce. Many businesses even
                        prefer to have e-commerce as their only mode of doing business. The potential of
                        e-commerce is nearly limitless, reason for which we'll be going on a ride to create
                        an e-commerce solution of our own!
                    </p>
                    <h4 class="collaborators">Collaborators</h4>
                    <p class="name">
                        Kiran, Mridula Reddy
                    </p>
                    <h4 class="cgpa">CGPA</h4>
                    <p class="gpa">
                        3.608
                    </p>
                    <h4 class="skills">
                        Skills to be learned
                    </h4>
                    <div class="skill1">React, Stripe, Firebase</div>

                    <div class="footer">
                        <div class="views">Views:
                            <i class="fas fa-eye"></i>
                            2k
                        </div>
                        <div class="ratings"> Ratings:
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                    </div>

                </div>
                </a>
            </div>
            <div class="r2">
                <a href="/projectView">
                <div class="p1">
                    <div class="image">
                        <img src="/static/images/event1.jpg" alt="5">
                    </div>
                    <h3 class="title">
                        Amazon clone using React
                    </h3>
                    <p class="description">
                        Nowadays the first thing that someone does when they create a new business for
                        trading goods is to convert their commerce to e-commerce. Many businesses even
                        prefer to have e-commerce as their only mode of doing business. The potential of
                        e-commerce is nearly limitless, reason for which we'll be going on a ride to create
                        an e-commerce solution of our own!
                    </p>
                    <h4 class="collaborators">Collaborators</h4>
                    <p class="name">
                        Kiran, Mridula Reddy
                    </p>
                    <h4 class="cgpa">CGPA</h4>
                    <p class="gpa">
                        3.608
                    </p>
                    <h4 class="skills">
                        Skills to be learned
                    </h4>
                    <div class="skill1">React, Stripe, Firebase</div>
                    <div class="footer">
                        <div class="views">Views:
                            <i class="fas fa-eye"></i>
                            2k
                        </div>
                        <div class="ratings"> Ratings:
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock body %}


{% block jsfile %}
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/static/JS/projects.js"></script>{% endblock jsfile %}