
{% extends "basepmo.html" %}
{% load static %}
{% block title %}Requested Projects{% endblock title %}
{% block cssfile%}<link rel="stylesheet" type="text/css" href="/static/CSS/Requested-projects-list.css">{% endblock cssfile%} 
{% block body %}

   <section>
        <div class="container">
            <div class="heading">Requests</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Requester</th>
                        <th>Project Title</th>
                        <th>Category</th>
                        <th>Date Created</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-check p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>

                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-check p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>

                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-check p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>

                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-check p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>

                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-minus p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>

                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-check p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>

                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-check p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>

                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-minus p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-minus p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-minus p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-minus p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-minus p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-minus p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-minus p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>
                    <tr class="row">
                        <td><img src="/static/images/user1.png" alt="user1"><div class="name">William John</div></td>
                        <td>Ecohub Marketplace</td>
                        <td>Web Development</td>
                        <td>25 Jan 2024</td>
                        <td><i class="fa fa-minus p1-3"></i></td>
                    </tr>
                    <tr class="spacing-row">
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
   {% endblock body %}